<div class="container">
    <div class="row">
      <!--MENU DEL ADMINISTRADOR-->
      <div class="col-md-4" style="margin-top: 40px;">
        <div class="con" id="unoAd">
          <a [routerLink]="['/usuario']">
            <img  class="icon" src="" >
          </a>
            <p class="texto">Usuario</p>
        </div>
      </div>
        <!--OPBCION DOS DEL MENU DE ADMINISTRACIO-->
        <div class="col-md-4" style="margin-top: 40px;">
          <div class="con" id="unoAd">
            <a [routerLink]="['/tipoUsuario']">
              <img  class="icon" src="" >
            </a>
              <p class="texto">Tipo Usuario</p>
          </div>
      </div>
         <!--OPBCION TRES DEL MENU DE ADMINISTRACIO-->
         <div class="col-md-4" style="margin-top: 40px;">
          <div class="con" id="unoAd">
            <a [routerLink]="['/servicios']">
              <img  class="icon" src="" >
            </a>
              <p class="texto">Servicios</p>
          </div>
      </div>
         <!--OPBCION CINCO DEL MENU DE ADMINISTRACIO-->
         <div class="col-md-4" style="margin-top: 50px;">
          <div class="con" id="unoAd">
            <a [routerLink]="['/publicaciones']">
              <img  class="icon" src="" >
            </a>
              <p class="texto">Publicaciones</p>
          </div>
      </div>
    </div>
  </div>