<div class="container">
  <div class="row">
    <!--MENU DEL ADMINISTRADOR-->
    <div class="col-md-4" style="margin-top: 40px;">
      <div class="con" id="unoAd">
        <a [routerLink]="['/ad-usuario']">
          <img class="icon" src="../../../assets/images/img/users (1).png">
        </a>
        <p class="texto">Usuario Administrador</p>
      </div>
    </div>
    <div class="col-md-4" style="margin-top: 40px;">
      <div class="con" id="unoAd">
        <a [routerLink]="['/cl-usuario']">
          <img class="icon" src="../../../assets/images/img/users (1).png">
        </a>
        <p class="texto">Usuario Cliente</p>
      </div>
    </div>
    <!--OPCION DOS DEL MENU DE ADMINISTRACION -->
    <div class="col-md-4" style="margin-top: 40px;">
      <div class="con" id="unoAd">
        <a [routerLink]="['/tipoUsuario']">
          <img class="icon" src="../../../assets/images/img/value (1).png">
        </a>
        <p class="texto">Tipo Usuario</p>
      </div>
    </div>
    <!--OPCION TRES DEL MENU DE ADMINISTRACION-->
    <div class="col-md-4" style="margin-top: 40px;">
      <div class="con" id="unoAd">
        <a [routerLink]="['/servicio']">
          <img class="icon" src="../../../assets/images/img/customer-support (1).png">
        </a>
        <p class="texto">Servicios</p>
      </div>
    </div>
    <!--OPCION CINCO DEL MENU DE ADMINISTRACION-->
    <div class="col-md-4" style="margin-top: 50px;">
      <div class="con" id="unoAd">
        <a [routerLink]="['/publicaciones']">
          <img class="icon" src="../../../assets/images/img/seo (1).png">
        </a>
        <p class="texto">Publicaciones</p>


      </div>
    </div>
</div>