<section id="wrapper" class="login-register login-sidebar"
    style="background-image:url(../assets/images/background/login-register.jpg);">
    <div class="login-box card">
        <div class="card-body">
            <form class="form-horizontal form-material">
                <h3 class="box-title m-t-10 m-b-30">Agregar otro administrador</h3>
                <div class="row">
                    <div class="form-group col-md-6">
                        <div class="col-md-12">
                            <input class="form-control" type="text" required="required" placeholder="Nombres"
                                name="Nombres" [(ngModel)]="User.Nombres">
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="col-md-12">
                            <input class="form-control" type="text" required="required" placeholder="Apellidos"
                                name="Apellidos" [(ngModel)]="User.Apellidos">
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <div class="col-md-12">
                            <input class="form-control" type="number" required="required" placeholder="Edad" name="Edad"
                                [(ngModel)]="User.Edad">
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="col-md-12">
                            <input class="form-control" type="number" required="required" placeholder="Telefono"
                                name="Telefono" [(ngModel)]="User.Telefono">
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="col-md-12">
                            <textarea class="form-control" type="text" required="required" placeholder="Direccion"
                                name="Direccion" [(ngModel)]="User.Direccion"></textarea>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="col-md-12">
                            <input class="form-control" type="email" required="required" placeholder="Correo"
                                name="Correo" [(ngModel)]="User.Correo">
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <div class="col-md-12">
                            <input class="form-control" type="password" required="required" placeholder="Password"
                                name="Password" [(ngModel)]="User.Password">
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="col-md-12">
                            <input class="form-control" type="password" required="required" placeholder="Confirmar Pass"
                                name="confir" [(ngModel)]="confirm">
                        </div>
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-success btn-block text-uppercase waves-effect waves-light" type="submit"
                            data-toggle="modal" data-target="#img">Seleccionar foto de perfil</button>
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-block text-uppercase waves-effect waves-light" type="submit"
                            (click)="add()">Crear cuenta</button>
                    </div>
                </div>
                <!-- <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        <p>'¿Estas seguro que tienes una cuenta? <a [routerLink]="['/menu']"
                                class="text-info m-l-5"><b>Iniciar sesion</b></a></p>
                    </div>
                </div> -->
            </form>
        </div>
    </div>
</section>

<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->

<!-- Modal -->
<div class="modal" id="img" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Seleccionar foto de perfil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input class="btn btn-success" type="file" (change)="fileChangeEvent($event)" />

                <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true"
                    [aspectRatio]="1 / 1" [resizeToWidth]="128" format="png" (imageCropped)="imageCropped($event)"
                    (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
                </image-cropper>

                <img [src]="croppedImage" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="foto()" data-dismiss="modal">Seleccionar imagen</button>
            </div>
        </div>
    </div>
</div>
