.form-conatainer{ /* todo lo que esta en el cuadro del login*/
    border: 0px solid #fff;
    padding: 50px 60px;
    margin-top: 40px;
    -webkit-box-shadow: -1px 4px 26px 10px rgba(128, 124, 124, 0.75);
-moz-box-shadow: -1px 4px 26px 10px rgba(128, 124, 124, 0.75);
box-shadow: -1px 4px 26px 10px rgba(128, 124, 124, 0.75);
}
