<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li *ngIf="token != null" class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false"><img
                            [src]="img" alt="user" /><span
                            class="hide-menu">{{ nombre }} {{ apellido }}</span></a>
                </li>
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false" [routerLink]="['/inicio']"><i class="fa fa-home"></i><span class="hide-menu">Inicio</span></a>
                </li>
                <li *ngIf="token != null" class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false" [routerLink]="['/cuenta']"><i class="fa fa-user"></i><span class="hide-menu">Mi cuenta</span></a>
                </li>
                <li *ngIf="token != null" class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false" [routerLink]="['/mis-publicaciones']"><i class="fa fa-edit"></i><span class="hide-menu">Mis publicaciones</span></a>
                </li>
                <li *ngIf="token != null" class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false" [routerLink]="['/mod-cuenta']"><i class="fa fa-cogs"></i><span class="hide-menu">ajustes de mi cuenta</span></a>
                </li>
                <li *ngIf="token != null" class="nav-devider"></li>
                <li *ngIf="token != null" class="nav-small-cap">Servicios</li>
                <li *ngIf="token != null"> <a class="has-arrow waves-effect waves-dark" aria-expanded="false"  [routerLink]="['/mis-servicios']"><i class="fa fa-wrench"></i><span class="hide-menu">Mis servicios</span></a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->