<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false"><img
                            [src]="img" alt="user" /><span
                            class="hide-menu">{{ nombre }} {{ apellido }}</span></a>
                </li>
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false" [routerLink]="['/inicio']"><span class="hide-menu">Inicio</span></a>
                </li>
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false" [routerLink]="['/cuenta']"><span class="hide-menu">Mi
                            cuenta</span></a>
                </li>
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false" [routerLink]="['/mis-publicaciones']"><span class="hide-menu">Mis
                            publicaciones</span></a>
                </li>
                <li class="user-profile">
                    <a class="has-arrow waves-effect waves-dark" aria-expanded="false" [routerLink]="['/mod-cuenta']"><span class="hide-menu">ajustes
                            de mi cuenta</span></a>
                </li>
                <li class="nav-devider"></li>
                <li class="nav-small-cap">Servicios</li>
                <li> <a class="has-arrow waves-effect waves-dark" aria-expanded="false"  [routerLink]="['/mis-servicios']"><span class="hide-menu">Mis
                            servicios</span></a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->