<div class="container">
    <div class="row">
        <div class="col-md-7" style="background: rgb(255, 255, 255); height: 300px; margin-top: 10px;">
            <div class="row">
                <div class="col-md-12">
                    <h3 style="margin-top:15px;">{{titulo}}</h3>
                    <hr>
                </div>
                <div class="col-md-12" style="margin-top: 20px;">
                    <h4>{{descrip}}</h4>
                </div>
                <div class="col-md-12" style="margin-top: 50px;">
                    <h3>{{fecha | date:'shortTime' }}</h3>
                </div>
                <div class="col-md-12">
                    <span class="badge badge-pill badge-success">{{ser}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4" style="background: rgb(255, 255, 255); height: 400px; margin-top: 10px;">
            <div class="row">
                <div class="col-md-12" style="text-align: center; margin-top: 10px;">
                    <img style="border-radius:50px; width: 80px;" [src]="img">
                </div>
                <div class="col-md-12">
                    <h3 style="text-align: center; margin-top: 10px;"> <a [routerLink]="['/publi-cuenta', idus]">{{ name }} {{ apellido }}</a>
                    </h3>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-1">
                            <fa name="phone"></fa>
                        </div>

                        <div class="col-md-2">
                            <h5>{{tel}}</h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <textarea [(ngModel)]="mensaje" style="height: 150px;" class="form-control"></textarea>
                </div>
                <div class="col-md-12" style="margin-top: 10px;">
                    <input type="submit" (click)="sendChat()" style="color: white" value="Enviar mensaje" class="form-control btn btn-primary">
                </div>
            </div>
        </div>
    </div>
</div>
