<div class="container">
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-primary" [routerLink]="['/add-tipoUsuario']">Crear Tipo usuario</button>
                <br>
                <br>
                <table class="table">
                    <thead class="thead-dark" style="background: #000;">
                      <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Accion</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let tipUser of tipoUsario | paginate: { itemsPerPage: 4, currentPage: p }">
                        <td>{{tipUser.nombre}}</td>
                        <td>{{tipUser.descripcion}}</td>
                        <td>Modificar, Eliminar</td>
                      </tr>
                    </tbody>
                  </table>

                  <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
    