<div class="contaier-fluid bg">
       
    <div class="row">
        <div class="col-md-3- col-sm-3 col-xs-3"></div>
        <div class="col-md-6- col-sm-6 col-xs-6">
            <!--Formulario para crear nuevo servicio-->
            <form class="form-conatainer row">
              <h1>Ingresar Servicio</h1>
                  <div class="form-group col-md-12">
                     <label>Nombre</label>
                     <input type="text" class="form-control" placeholder="Nombre" name="nombre" pattern="[A-Za-z]" [(ngModel)]="Servicio.nombre" required="required">
                  </div>
                  <div class="form-group col-md-12">
                       <label>Descripción</label>
                       <textarea class="form-control" placeholder="Descripcion" name="descripcion" required pattern="[A-Za-z]" [(ngModel)]="Servicio.descripcion" required></textarea>
                    </div>
               <button type="submit" class="btn btn-info btn-block" (click)="Agregar(Serv)">Agregar</button> <!--btn-block para el color verde-->
                
            </form>
          <!--final del form-->
          <!--Inicio formulario para modificar -->
        </div>
        <div class="col-md-4- col-sm-4 col-xs-12"></div>
    </div >
</div>