<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-9" style="margin-top: 30px;">
                    <h2>Seleccionar servicios que realizas</h2>
                </div>
                <div class="col-md-2" style="margin-top: 30px;">
                    <input type="button" value="Siguiente" class="btn btn-primary" (click)="add()">
                </div>
                <div class="col-md-1" style="margin-top: 30px;">
                    <img [src]="img" style="border-radius: 60px; width: 50px; height: 50px;">
                </div>
            </div>
            <hr>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3" *ngFor="let ser of servicio;let i = index">
                    <div class="card text-center" style="border-style: solid; border-width: 1px;">
                        <img  class="card-img-top" [src]="ser.pathImage">
                        <div class="card-body">
                            <h4 class="card-title">{{ ser.nombre }}</h4>
                            <div class="checkbox checkbox-primary pull-left p-t-0">
                                <input id="{{'inlineCheckbox' + i}}" type="checkbox"
                                    class="filled-in chk-col-light-blue"
                                    (click)="addSer(ser.nombre, ser.descripcion, ser._id, ser.pathImage)">
                                <label style="margin-left: 45px ;" for="{{'inlineCheckbox' + i}}">Seleccionar</label>
                            </div>
                            <div>
                                <a class="btn btn-info" data-toggle="collapse" href="#demo_{{i}}">
                                    Ver Descripción
                                </a>
                            </div>
                            
                            <div id="demo_{{i}}" class="collapse" style="background: rgb(255, 255, 255); height: auto;">
                                <p class="card-text">
                                    {{ ser.descripcion }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>